.dropdown-backdrop { display: none; } /* yiistrap fix */

#page {
    margin-top: 1em;
}
footer .container {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #f5f5f5;
}

.profile-avatar { width: 150px; }

/* Project Creation */
select.first-grayed option:first-child { color: #ccc; }
#folderSelection,#folderCreation { display: none; }
#folderSelection.active,#folderCreation.active { display: block; }

.tagList {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 0.8em;
}
.linkList .tagList { margin: 10px 0 0 0; color: #aaa; }
.tagList > li {
    display: inline-block;
    border-radius: 3px;
    background-color: #eee;
    padding: 3px 5px;
    color: #888;
    margin: 0 5px 5px 0;
    box-shadow: inset 0 -2px 0 #ddd;
    cursor: default;
}
.tagList > li > .remove {
    padding: 5px;
    margin-right: -5px;
    cursor: pointer;
    color: #ccc;
}
.tagList > li > .remove:hover { color: #000; }
.tagList > li > .remove:after {
    content: 'x';
    position: relative;
    top: -1px;
    display: inline-block;
}


/* Project List */
#projectList {
    margin: 0;
    list-style: none;
}
#projectList ul.folder-group {
    margin: 0;
    list-style: none;
}
#projectList .folder-item {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 1em;
}
#projectList .folder-item > .title {
    font-weight: bold;
    font-style: italic;
    display: block;
    background-color: #eee;
    padding: 0.7em;
    border-bottom: 1px solid #ddd;
}
#projectList .folder-item > .title > .actions {
    float: right;
}

#projectList .project-item {
    padding: 0.5em;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-bottom: 0.5em;
}
#projectList .folder-group > .project-item {
    padding-left: 1.5em;
    border: 0;
    border-top: 1px solid #eee;
    margin: 0;
}

#projectList .project-item > .thumbnail {
    display: inline-block;
    float: left;
    margin-right: 1em;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
#projectList .project-item > .title {
    display: table-cell;
    font-weight: bold;
    font-size: 1.2em;
}
#projectList .project-item > .description {
    display: block;
}
#projectList .project-item > .actions {
    float: right;
    margin-bottom: 10px;
}
#projectList .project-item > .count {
    display: block;
    text-align: right;
    clear: right;
}


/* Project Grid */
#projectGrid {
    margin: 0;
    list-style: none;
}
#projectGrid > .folder-item, #projectGrid > .project-item {
    display: inline-block;
    width: 32.5%;
    height: 150px;
    margin-bottom: 5px;
    vertical-align: top;
}
@media screen and (max-width: 979px) and (min-width: 381px) {
    #projectGrid > .folder-item, #projectGrid > .project-item { width: 49%; }
}
@media screen and (max-width: 380px) {
    #projectGrid > .folder-item, #projectGrid > .project-item { width: 100%; }
}
#projectGrid > .folder-item > a, #projectGrid > .project-item > a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 1em;
    text-decoration: none;
}
#projectGrid > .folder-item > a {
    background-color: #555;
    color: #eee;
}
#projectGrid > .folder-item > a:hover {
    background-color: #666;
    color: #fff;
}
#projectGrid > .project-item > a {
    background-color: #f5f5f5;
}
#projectGrid > .project-item > a:hover {
    background-color: #f0f0f0;
}
#projectGrid .bottom {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}


/* Project Managing */
.projectControls .projectActions {
    box-sizing: border-box;
    width: 100%;
}
.editProjectPicture {
    margin: 0 auto;
    display: block;
}


/* Project Listing */
/* Picture */
ul.pictureList {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.pictureList > li {
    display: inline-block;
    padding: 0.5em;
    vertical-align: top;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 23.8%;
    margin-right: 1.2%;
    margin-bottom: 1em;
    box-sizing: border-box;
}
@media screen and (max-width: 979px) and (min-width: 381px) {
    ul.pictureList > li { width: 32.1%; }
}
@media screen and (max-width: 380px) {
    ul.pictureList > li { width: 48.8%; }
}
ul.pictureList > li > .picture-thumb {
    overflow: hidden;
    border-radius: 5px;
}
ul.pictureList > li > .picture-thumb img {
    width: 100%;
    border: 0;
}
ul.pictureList > li > .title {
    color: #000;
    font-weight: bold;
    margin-top: 5px;
    display: block;
}
ul.pictureList > li > .description {
    font-size: 0.9em;
    color: #777;
    line-height: 1.3em;
    margin-top: 10px;
}
ul.pictureList > li > .actions {
    padding-top: 0.5em;
    border-top: 1px solid #eee;
    text-align: right;
    display: block;
    margin-top: 5px;
}
ul.pictureList > li > .actions.portfolio .btn, ul.pictureList > li > .actions.portfolio .btn-group {
    width: 100%;
    box-sizing: border-box;
}

/* Video */
ul.videoList {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.videoList > li {
    display: inline-block;
    padding: 0.5em;
    vertical-align: top;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 23.8%;
    margin-right: 1.2%;
    margin-bottom: 1em;
    box-sizing: border-box;
}
@media screen and (max-width: 979px) and (min-width: 381px) {
    ul.videoList > li { width: 32.1%; }
}
@media screen and (max-width: 380px) {
    ul.videoList > li { width: 48.8%; }
}
ul.videoList > li > .video-thumb {
    overflow: hidden;
    border-radius: 5px;
}
ul.videoList > li > .video-thumb img {
    width: 100%;
    border: 0;
}
ul.videoList > li > .title {
    color: #000;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
ul.videoList > li > .description {
    font-size: 0.9em;
    color: #777;
    line-height: 1.3em;
    margin-top: 10px;
}
ul.videoList > li > .actions {
    padding-top: 0.5em;
    border-top: 1px solid #eee;
    text-align: right;
    display: block;
    margin-top: 5px;
}
ul.videoList > li > .actions.portfolio .btn, ul.videoList > li > .actions.portfolio .btn-group {
    width: 100%;
    box-sizing: border-box;
}

/* Link */
ul.linkList {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.linkList > li {
    display: block;
    padding: 0.5em;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0.5em;
}
ul.linkList > li > .title > a {
    font-weight: bold;
}
ul.linkList > li > .url {
    display: block;
    font-weight: normal;
    font-size: 0.9em;
    color: #aaa;
}
ul.linkList > li > .description {
    font-size: 0.9em;
    line-height: 1.3em;
    margin: 0;
}
ul.linkList > li > .actions {
    float: right;
}


/* Portfolio profile sidebar */
#sideProfile {
/*
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f5f5f5;
*/
    /*border-left: 1px solid #eee;*/
    padding: 1em;
}
#sideProfile .avatar {
    text-align: center;
}
#sideProfile .avatar img { max-width: 150px; }
#sideProfile .title {
    margin: 0.5em 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
}
#sideProfile .title:after {
    content: 'Portfolio';
    font-weight: normal;
    font-size: 0.5em;
    display: block;
    text-transform: uppercase;
    color: #ccc;
    letter-spacing: 3px;
}
#sideProfile .bio {
    font-size: 0.9em;
    line-height: 1.6em;
    padding-top: 1em;
    border-top: 1px solid #eee;
}
#sideProfile .email {
    font-size: 0.9em;
    display: block;
}
#sideProfile .links {
    font-size: 0.9em;
    display: block;
    margin: 0;
    list-style: none;
}
#sideProfile .well { padding: 0.8em; }
#sideProfile .well > hr { margin: 0.8em 0; }

/* Portfolio links editing */
ul.portfolioLinkList {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.portfolioLinkList > li {
    display: block;
    padding: 0.5em;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0.5em;
}
ul.portfolioLinkList > li > .type { font-weight: bold; }
ul.portfolioLinkList > li > .type:after { content: ': ' }
ul.portfolioLinkList > li > .url {
    font-weight: normal;
    font-size: 0.9em;
}
ul.portfolioLinkList > li > .remove {
    cursor: pointer;
    color: #ccc;
    float: right;
}
ul.portfolioLinkList > li > .remove:hover { color: #000; }
ul.portfolioLinkList > li > .remove:after {
    content: 'x';
    position: relative;
    top: -1px;
    display: inline-block;
}