.dropdown-backdrop { display: none; } /* yiistrap fix */

#page {
    margin-top: 1em;
}
footer .container {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #f5f5f5;
}


/* Project Creation */
select.first-grayed option:first-child { color: #ccc; }
#folderSelection,#folderCreation { display: none; }
#folderSelection.active,#folderCreation.active { display: block; }


/* Project List */
#projectList {
    margin: 0;
    list-style: none;
}
#projectList ul.folder-group {
    margin: 0;
    list-style: none;
}
#projectList .folder-item {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 1em;
}
#projectList .folder-item > .title {
    font-weight: bold;
    font-style: italic;
    display: block;
    background-color: #eee;
    padding: 0.7em;
    border-bottom: 1px solid #ddd;
}
#projectList .folder-item > .title > .actions {
    float: right;
}

#projectList .project-item {
    padding: 0.5em;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-bottom: 0.5em;
}
#projectList .folder-group > .project-item {
    padding-left: 1.5em;
    border: 0;
    border-top: 1px solid #eee;
    margin: 0;
}

#projectList .project-item > .thumbnail {
    display: inline-block;
    float: left;
    margin-right: 1em;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
#projectList .project-item > .title {
    display: table-cell;
    font-weight: bold;
    font-size: 1.2em;
}
#projectList .project-item > .description {
    display: block;
}
#projectList .project-item > .actions {
    float: right;
    margin-bottom: 10px;
}
#projectList .project-item > .count {
    display: block;
    text-align: right;
    clear: right;
}


/* Project Grid */
#projectGrid {
    margin: 0;
    list-style: none;
}
#projectGrid > .folder-item, #projectGrid > .project-item {
    display: inline-block;
    width: 32.5%;
    height: 150px;
    margin-bottom: 5px;
    vertical-align: top;
}
@media screen and (max-width: 979px) and (min-width: 381px) {
    #projectGrid > .folder-item, #projectGrid > .project-item { width: 49%; }
}
@media screen and (max-width: 380px) {
    #projectGrid > .folder-item, #projectGrid > .project-item { width: 100%; }
}
#projectGrid > .folder-item > a, #projectGrid > .project-item > a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 1em;
    text-decoration: none;
}
#projectGrid > .folder-item > a {
    background-color: #555;
    color: #eee;
}
#projectGrid > .folder-item > a:hover {
    background-color: #666;
    color: #fff;
}
#projectGrid > .project-item > a {
    background-color: #f5f5f5;
}
#projectGrid > .project-item > a:hover {
    background-color: #f0f0f0;
}
#projectGrid .bottom {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}


/* Project Managing */
.projectControls .projectActions {
    box-sizing: border-box;
    width: 100%;
}
.editProjectPicture {
    margin: 0 auto;
    display: block;
}


/* Project Listing */
ul.pictureList p, ul.videoList p, ul.linkList p {
    margin: 0;
}

ul.pictureList {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.pictureList > li {
    display: inline-block;
    padding: 0.5em;
    vertical-align: top;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0.5em;
}
ul.pictureList > li > img {
    display: block;
    margin: 0 auto;
}
ul.pictureList > li > .btn-group {
    text-align: center;
    display: block;
}

ul.videoList {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.videoList > li {
    display: inline-block;
    padding: 0.5em;
    vertical-align: top;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0.5em;
}
ul.videoList > li > img {
    display: block;
    margin: 0 auto;
}
ul.videoList > li > .btn-group {
    text-align: center;
    display: block;
}

ul.linkList {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.linkList > li {
    display: block;
    padding: 0.5em;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0.5em;
}
ul.linkList > li > .actions {
    float: right;
}